@font-face {
    font-family: 'Geo';
    font-weight: 600;
    src: url('./font/Dachi-the-Lynx.ttf') format('truetype'),
        url('./font/Dachi-the-Lynx.woff') format('woff'),
        url('./font/Dachi-the-Lynx.woff2') format('woff2'),
        url('./font/Dachi-the-Lynx.otf') format('opentype');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Geo';
    scroll-behavior: smooth;
}

@keyframes slideRight {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 200% 0;
    }
}


/* width */
::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #004b9b;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #50a5ff;
}